.classid{
    display: flex;
    background-image: url(/images/food.jpg);
    width: 1700px;
    height: 400px;
    width: 100%;
    height: 600px; 
    position: relative;
}
.imagelogo img{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;
}
.navid{
    display: flex;
    /* margin-left: 300px; */
    margin-top: 50px;
   
    
}
.navid ul{
    margin-top: -436px;
    margin-left: 680px;
}
.navid .btn{

    color: black ;
   
    background-color: rgb(95, 213, 243);
    font-size: 20px;
    margin-top: 400px;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 10px;
  
    
}
.navid .btn:hover{

    background-color: rgb(71, 77, 71);
    color: tomato;
    
}
.classid2{
    /* background-color: grey; */
    /* width: 1700px;*/
    height: 100%; 
    margin-top: 3px;
    border-top-width: 0px;
    padding-top: 4px;
    width: 100%;
  
}
 #title h1{

    font-size: 80px;
    margin-top: 400px;
    margin-left: 500px;
    color: rgb(233, 230, 216);
    width: 600px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Caveat', cursive;  
}
body{
    background-color: grey;
    display: style;
}
.tabcontent{
    display: none;
    color: black;
    font-size: 14px;
    font-family: cursive;
   
  
}
/* .tabcontent ul {
    font-size: 20px;
} */
.tabcontent ol{
    font-size: 18px;

}
.tabcontent ol a{
    color: white;
}
/* #ContactUs{
    font-size: 20px;
    text-decoration: ununderline;
    color: greenyellow;
} */
.tabcontent h1{
    color: greenyellow;
} 
.ContactId a{
    color:white;
    font-size: 18px;
}