.classid{
    display: flex;
    background-image: url(/images/food.jpg);
    width: 2000px;
    height: 400px;
}
.imagelogo img{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;
}
.navid{
    display: block;
    margin-left: 600px;
   
    /* width: 100px; */
    
}
.navid ul{
    padding-left: 0px;
}
.navid .btn{

    color: black;
    background-color: rgb(219, 231, 200);
    font-size: 20px;
    margin-top: 400px;
    border-radius: 20px;
    padding: 5px 20px;
  
    
}
.navid .btn:hover{

    background-color: green;
}
.classid2{
    background-color: grey;
    width: 2000px;
    height: 1000px;
    margin-top: 3px;
    border-top-width: 0px;
    padding-top: 4px;
}
